html{ -webkit-text-size-adjust:100%; height:100%; min-height:100%; }
body{ height:100%; min-height:100%; overflow-x:hidden; text-align:center; vertical-align:top; font-size:0; font-family:Helvetica,Arial; margin:0; padding:0; line-height:inherit; -webkit-tap-highlight-color:rgba(0,0,0,0); }
body *{ font-weight:inherit; font-family:inherit; font-style:inherit; font-size:100%; line-height:inherit; border:none; resize:none; -webkit-appearance:none; color:inherit; text-decoration:none; text-align:inherit; vertical-align:inherit; outline:0; padding:0; margin:0; width:auto; height:auto; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; -webkit-font-smoothing:antialiased; text-shadow:1px 1px 1px rgba(0,0,0,0.004); border-radius:0; background-color:Transparent; cursor:default; }

/* Colours */
.light{ background-color:rgb(255,255,255); }
.dark{ background-color:rgb(33,33,33); }
.light.shade{ background-color:rgba(255,255,255,.87); }
.dark.shade{ background-color:rgba(33,33,33,.87); }
.pro{ border:none !important; }
.con{ border:none !important; }

/* Div/Section/Article */
header,footer,div,section,article{ display:inline-block;*display:inline;zoom:1; }

/* Headings */
h1,h2,h3,h4,h5,h6{ display:inline-block;*display:inline;zoom:1; margin:5px; font-weight:normal; line-height:1em; letter-spacing:-.05em; line-height:.9em; }
h1{ font-size:32px; }
h2{ font-size:28.8px; }
h3{ font-size:25.6px; }
h4{ font-size:22.4px; }
h5{ font-size:19.2px; }
h6{ font-size:16px; }
article h1,article h2,article h3,article h4,article h5,article h6{ width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); margin-top:.5em; margin-bottom:.5em; }
/* Shades */
h1,h2,h3,h4,h5,h6{ color:rgb(33,33,33); }
.shell h1,.shell h2,.shell h3,.shell h4,.shell h5,.shell h6{ color:#FFF; }

/* Pre-heading */
h6{ margin-bottom:-10px; margin-top:10px; }
/* Shades */ h6{ color:rgb(128,128,128); }

/* Paragraph */
p{ display:inline-block;*display:inline;zoom:1; margin:5px; font-size:18px; line-height:1.4em; }
article p{ width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); margin-top:.5em; margin-bottom:.5em; }
/* Shades */
p{ color:rgb(33,33,33); }
.shell p{ color:rgb(255,255,255); }

/* Blockquote */
blockquote{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 55px); margin:1%;margin:calc(5px); margin-left:30px; font-size:18px; line-height:1.4em; font-style:italic; padding-left:10px; border-left:solid 3px rgba(0,0,0,.54); }
article blockquote{ margin-top:.5em; margin-bottom:.5em; }
/* Shades */
blockquote{ color:rgb(33,33,33); }
.shell blockquote{ color:rgb(222,222,222); }

/* List */
ul,ol{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }
ul>li,ol>li{ display:list-item; margin-left:20px; font-size:18px; line-height:1.4em; }
article ul,article ol{ width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); margin-top:.5em; margin-bottom:.5em; }
/* Shades */
li{ color:rgb(33,33,33); }
.shell li{ color:rgb(222,222,222); }

/* Horizontal Rule */
hr{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); height:1px; }
article hr{ display:block; }
/* Shades */ 
img{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }

/* Image */
img{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }
p img,li img,table img,label img,small img,aside img,h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{ margin:0; }
article img{ display:block; }

/* iFrame */
iframe{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }

/* Canvas */
canvas{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }

/* Label */
label{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); margin-bottom:-4px !important; margin-top:5px; font-size:13px; line-height:1.4em; text-align:left; }
input[type=checkbox]+label,input[type=checkbox]~label{ margin-bottom:5px !important; margin-top:4px; }
/* Shades */
label{ color:rgb(33,33,33); }
.shell label{ color:#FFF; } 

/* Aside */
aside{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); margin-top:-5px; font-size:13px; line-height:1.4em; text-align:left; }
/* Shades */
aside{ color:rgb(33,33,33); }
.shell aside{ color:#FFF; }

/* Small */
small{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); font-size:13px; line-height:1.4em; }
/* Shades */
small{ color:rgb(33,33,33); }
.shell small{ color:#FFF; }

/* Output */
output{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); text-align:left; font-size:18px; line-height:1.4em; cursor:text; }
/* Special */
output.special{ font-size:40px; font-weight:bold; line-height:1em; }
/* Shades */
output{ color:rgb(33,33,33); }
.shell output{ color:#FFF; }

/* Inputs */
input{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); text-align:left; font-size:18px; line-height:1.4em; cursor:text; padding:5px; }
input[type=checkbox]{ -webkit-appearance:checkbox; width:auto; cursor:pointer; }
input[type=radio]{ -webkit-appearance:radio; width:auto; cursor:pointer; }
textarea{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); height:100px; text-align:left; padding:5px; font-size:18px; line-height:1.4em; overflow:auto; cursor:text; }
select{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); text-align:left; padding:5px; font-size:18px; line-height:1.4em; cursor:pointer; }
.richedit{ border-top:solid 5px rgb(222,222,222); border-bottom:solid 5px rgb(222,222,222); font-size:16px; }
/* Shades */
input[type=text],input[type=email],input[type=password],input[type=number],input[type=datetime],input[type=date],input[type=time],textarea,select{ color:rgb(66,66,66); background-color:rgb(222,222,222); }
.shell input[type=text],.shell input[type=email],.shell input[type=password],.shell input[type=number],.shell input[type=datetime],.shell input[type=date],.shell input[type=time],.shell textarea,.shell select{ background-color:rgba(255,255,255,.54); color:rgb(33,33,33); }

/* Button */
button{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); padding:8px 25px 8px 25px; font-size:14px; font-weight:bold; line-height:1.4em; text-align:center; text-transform:uppercase; cursor:pointer; -webkit-transition:background-color .25s,border-color .25s,color .25s,-webkit-transform .25s;transition:background-color .25s,border-color .25s,color .25s,transform .25s; border-radius:5em; line-height:1em; }
button:disabled{ -webkit-transform:scale(0.001,0.001);transform:scale(0.001,0.001); }
button.load:disabled{ -webkit-transform:scale(1,1);transform:scale(1,1); }
/* Shades */
button{ color:#FFF; }
button:active,button.load:disabled{ background-color:rgb(33,33,33) !important; }
.shell button{ border:solid 1px #FFF; background-color:Transparent; }
.shell button:active,.shell button.load{ background-color:#FFF !important; color:#000 !important; }

/* Featured Button */
button.feature{ font-size:12px; font-weight:bold; width:12em; height:12em; border-radius:0; }
button.feature i{ display:block; font-size:2em; margin-bottom:3px; }
/* Shades */
button.feature:active,button.feature.load{ background-color:rgb(33,33,33) !important; }
button.feature.cel{ background-color:rgba(255,255,255,.57); color:#000; }
button.feature.cel:active{ background-color:#FFF !important; }
.shell button.feature.cel{ background-color:rgba(255,255,255,.57); color:#000; border:none; }
.shell button.feature.cel:active,.shell button.feature.cel.load{ background-color:#FFF !important; border:none; }

/* Subfeatured Button */
button.subfeature{ padding:5px; font-size:12px; width:7.5em; height:7.5em; border-radius:0; }
button.subfeature i{ display:block; font-size:2em; margin-bottom:3px; }
/* Shades */
button.subfeature:active{ background-color:rgb(33,33,33); }
button.subfeature.cel{ background-color:rgba(255,255,255,.57); color:#000; }
button.subfeature.cel:active,button.subfeature.cel.load{ background-color:#FFF; }
.shell button.subfeature.cel{ background-color:rgba(255,255,255,.57); color:#000; border:none; }
.shell button.subfeature.cel:active,.shell button.subfeature.cel.load{ background-color:#FFF; border:none; }

/* Gallery Button */
button.gallery{ font-size:10px; background-color:Transparent; padding:5px; border:none; border-top:solid 3px Transparent; margin-top:0; border-radius:0; }
button.gallery i{ display:block; font-size:2em; }
/* Shades */
button.gallery:active,button.gallery.load{ background-color:Transparent !important; }
button.gallery.select{ background-color:Transparent; }
.shell button.gallery{ color:#FFF; }

/* Nav Button */
button.navcontrol{ border-radius:1em; font-size:19px; width:1.8em; height:1.8em; line-height:1.7em; padding:0; border:solid 1px #000; background-color:Transparent; }
/* Shades */
button.navcontrol:active,button.navcontrol.load{ border-color:rgb(66,66,66); background-color:rgb(66,66,66); color:#FFF; }

/* Icon Button */
button.icon{ padding:0; font-size:16px; width:1.8em; height:1.8em; background-color:Transparent; }
/* Shades */
button.icon:active{ background-color:Transparent; }
.shell button.icon{ color:#FFF; border:none; }
.shell button.icon:active,.shell button.icon.load{ background-color:Transparent; border:none; }

/* Primary Button */
button.primary{ font-size:24px; width:1.8em; height:1.8em; line-height:2.0em; padding:0; border-radius:1em; }
/* Shades */
button.primary:active{ border-color:rgb(66,66,66); background-color:rgb(66,66,66); color:#FFF; }
.shell button.primary{ background-color:Transparent; }
.shell button.primary:active,.shell button.primary.load{ border-color:#FFF; background-color:#FFF; color:#000; }

/* Control Button */
button.control{ border-radius:1em; font-size:19px; width:1.8em; height:1.8em; line-height:1.9em; padding:0; background-color:Transparent; }
/* Shades */
button.control:active,button.control.load{ border-color:rgb(66,66,66); background-color:rgb(66,66,66); color:#FFF; }
.shell button.control{ background-color:Transparent; border-color:#FFF; color:#FFF; }
.shell button.control:active,.shell button.control.load{ background-color:#FFF; color:#000; }

/* Link */
/* Shades */
p a:active,small a:active,h1 a:active,h2 a:active,h3 a:active,h4 a:active,h5 a:active,h6 a:active,label a:active,aside a:active,blockquote a:active{ color:#FFF; text-decoration:none; }

/* Nav */
nav{ display:inline-block;*display:inline;zoom:1; }
nav ul{ display:inline-block;*display:inline;zoom:1; margin:0; }
nav li{ position:relative; display:inline; margin-left:0; }
nav li a{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); margin-bottom:0; font-weight:bold; font-size:14px; line-height:1.4em; vertical-align:baseline; text-decoration:none; padding:5px 10px 5px 10px; border-bottom:solid 3px Transparent; }
/* 2nd Menu */
nav li ul{ display:none; }
nav li:hover>ul{ display:inline-block;*display:inline;zoom:1; position:absolute; top:100%; }
nav ul li ul li:hover ul{ display:inline-block;*display:inline;zoom:1; position:absolute; top:0; }
/* 3rd&> Menus */
.xf nav li ul{ left:0; }
.xf nav li ul li ul{ left:100%; }
.xb nav li ul{ right:0; }
.xb nav li ul li ul{ right:100%; }
/* Shades */
nav li a{ color:rgb(66,66,66); }

/* Table */
table{ display:table; table-layout: auto; width:99%;width:calc(100% - 10px); margin:1%;margin:calc(5px); border-collapse:collapse; }
thead{ display:table-header-group; }
tbody{ display:table-row-group; }
tfoot{ display:table-footer-group; }
tr{ display:table-row; vertical-align:middle; border-top:solid 1px #000; }
td,th{ display:table-cell; text-align:left; padding:.875em; font-size:14px; }
th{ font-weight:bold; text-align:left; text-transform:uppercase; font-weight:bold; font-size:12px; }
/* Shades */
th{ background-color:rgb(117,117,117); color:#FFF; }
tr{ border-top-color:rgb(222,222,222); }
tr:first-child{ border-top:none; }
tr[onclick]:active,.tr-onclick-active{ background-color:rgb(33,33,33); border-color:(33,33,33); color:#FFF; } /* IE Fix */

/* Formatting */
span,strong,em,strike,a,img,b,i,u{ vertical-align:baseline; }
strong,b{ font-weight:bold; }
em,i{ font-style:italic; }
u{ text-decoration:underline; }
strike{ text-decoration:line-through; }
a{ text-decoration:underline; cursor:pointer; }
small a{ text-decoration:none; font-weight:bold; }
sup{ font-size:.7em; vertical-align:super; }
*[onclick]{ cursor:pointer; }
.shell p a,.shell small a,.shell h1 a,.shell h2 a,.shell h3 a,.shell h4 a,.shell h5 a,.shell h6 a,.shell label a,.shell aside a,.shell blockquote a{ color:rgb(255,255,255); }

/* Layout */
/* P */
.p,.p1,.p1-1,.p1-2,.p1-3,.p2-3,.p1-4,.p3-4,.p1-5,.p2-5,.p3-5,.p4-5,.p1-6,.p5-6,.p1-7,.p2-7,.p3-7,.p4-7,.p5-7,.p6-7,.p1-8,.p3-8,.p5-8,.p7-8,.p1-9,.p2-9,.p4-9,.p5-9,.p7-9,.p8-9,.p1-10,.p3-10,.p7-10,.p9-10{ display:inline-block;*display:inline;zoom:1; width:100%; }
.p1{ max-width:1000px; }
.p1-1{ max-width:990px; }
.p1-2{ max-width:495px; }
.p1-3{ max-width:330px; } .p2-3{ max-width:660px; }
.p1-4{ max-width:247.5px; } .p3-4{ max-width:742.5px; }
.p1-5{ max-width:198px; } .p2-5{ max-width:396px; } .p3-5{ max-width:594px; } .p4-5{ max-width:792px; }
.p1-6{ max-width:165px; } .p5-6{ max-width:824.999px; }
.p1-7{ max-width:141.429px; } .p2-7{ max-width:282.857px; } .p3-7{ max-width:424.286px; } .p4-7{ max-width:565.714px; } .p5-7{ max-width:707.143px; } .p6-7{ max-width:848.571px; }
.p1-8{ max-width:123.75px; } .p3-8{ max-width:371.25px; } .p5-8{ max-width:618.75px; } .p7-8{ max-width:866.25px; }
.p1-9{ max-width:109.999px; } .p2-9{ max-width:219.999px; } .p4-9{ max-width:439.999px; } .p5-9{ max-width:550px; } .p7-9{ max-width:770px; } .p8-9{ max-width:880px; }
.p1-10{ max-width:99px; } .p3-10{ max-width:297px; } .p7-10{ max-width:693px; } .p9-10{ max-width:891px; }
/* X */
.x,.x1,.x1-1,.x1-2,.x1-3,.x2-3,.x1-4,.x3-4,.x1-5,.x2-5,.x3-5,.x4-5,.x1-6,.x5-6,.x1-7,.x2-7,.x3-7,.x4-7,.x5-7,.x6-7,.x1-8,.x3-8,.x5-8,.x7-8,.x1-9,.x2-9,.x4-9,.x5-9,.x7-9,.x8-9,.x1-10,.x3-10,.x7-10,.x9-10{ display:inline-block;*display:inline;zoom:1; margin:0; }
.x1,.x1-1{ width:100%; }
.x1-2{ width:50%; }
.x1-3{ width:33.334%; } .x2-3{ width:66.667%; }
.x1-4{ width:25%; } .x3-4{ width:75%; }
.x1-5{ width:20%; } .x2-5{ width:40%; } .x3-5{ width:60%; } .x4-5{ width:80%; }
.x1-6{ width:16.66%; } .x5-6{ width:83.33%; }
.x1-7{ width:14.29%; } .x2-7{ width:28.57%; } .x3-7{ width:42.86%; } .x4-7{ width:57.14%; } .x5-7{ width:71.43%; } .x6-7{ width:85.71%; }
.x1-8{ width:12.5%; } .x3-8{ width:37.5%; } .x5-8{ width:62.5%; } .x7-8{ width:87.5%; }
.x1-9{ width:11.11%; } .x2-9{ width:22.22%; } .x4-9{ width:44.44%; } .x5-9{ width:55.55%; } .x7-9{ width:77.77%; } .x8-9{ width:88.88%; }
.x1-10{ width:10%; } .x3-10{ width:30%; } .x7-10{ width:70%; } .x9-10{ width:90%; }
.xp1-1{ min-width:990px; }
.xp1-2{ min-width:495px; }
.xp1-3{ min-width:330px; } .xp2-3{ min-width:660px; }
.xp1-4{ min-width:247.5px; } .xp3-4{ min-width:742.5px; }
.xp1-5{ min-width:198px; } .xp2-5{ min-width:396px; } .xp3-5{ min-width:594px; } .xp4-5{ min-width:792px; }
.xp1-6{ min-width:165px; } .xp5-6{ min-width:824.999px; }
.xp1-7{ min-width:141.429px; } .xp2-7{ min-width:282.857px; } .xp3-7{ min-width:424.286px; } .xp4-7{ min-width:565.714px; } .xp5-7{ min-width:707.143px; } .xp6-7{ min-width:848.571px; }
.xp1-8{ min-width:123.75px; } .xp3-8{ min-width:371.25px; } .xp5-8{ min-width:618.75px; } .xp7-8{ min-width:866.25px; }
.xp1-9{ min-width:109.999px; } .xp2-9{ min-width:219.999px; } .xp4-9{ min-width:439.999px; } .xp5-9{ min-width:550px; } .xp7-9{ min-width:770px; } .xp8-9{ min-width:880px; }
.xp1-10{ min-width:99px; } .xp3-10{ min-width:297px; } .xp7-10{ min-width:693px; } .xp9-10{ min-width:891px; }
/* OP */
.op,.op1-1,.op1-2,.op1-3,.op2-3,.op1-4,.op3-4,.op1-5,.op2-5,.op3-5,.op4-5,.op1-6,.op5-6,.op1-7,.op2-7,.op3-7,.op4-7,.op5-7,.op6-7,.op1-8,.op3-8,.op5-8,.op7-8,.op1-9,.op2-9,.op4-9,.op5-9,.op7-9,.op8-9,.op1-10,.op3-10,.op7-10,.op9-10{ display:inline-block;*display:inline;zoom:1; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); }
.op1-1{ max-width:990px; }
.op1-2{ max-width:485px; }
.op1-3{ max-width:319.999px; } .op2-3{ max-width:646.666px; }
.op1-4{ max-width:237.5px; } .op3-4{ max-width:727.5px; }
.op1-5{ max-width:188px; } .op2-5{ max-width:380px; } .op3-5{ max-width:576px; } .op4-5{ max-width:776px; }
.op1-6{ max-width:155px; } .op5-6{ max-width:808.333px; }
.op1-7{ max-width:131.429px; } .op2-7{ max-width:265.714px; } .op3-7{ max-width:402.857px; } .op4-7{ max-width:542.857px; } .op5-7{ max-width:685.714px; } .op6-7{ max-width:831.429px; }
.op1-8{ max-width:113.75px; } .op3-8{ max-width:363.75px; } .op5-8{ max-width:593.75px; } .op7-8{ max-width:848.75px; }
.op1-9{ max-width:99.999px; } .op2-9{ max-width:202.222px; } .op4-9{ max-width:413.333px; } .op5-9{ max-width:522.222px; } .op7-9{ max-width:746.666px; } .op8-9{ max-width:862.222px; }
.op1-10{ max-width:89px; } .op3-10{ max-width:283px; } .op7-10{ max-width:685px; } .op9-10{ max-width:873px; }
/* OX */
.ox,.ox1-1,.ox1-2,.ox1-3,.ox2-3,.ox1-4,.ox3-4,.ox1-5,.ox2-5,.ox3-5,.ox4-5,.ox1-6,.ox5-6,.ox1-7,.ox2-7,.ox3-7,.ox4-7,.ox5-7,.ox6-7,.ox1-8,.ox3-8,.ox5-8,.ox7-8,.ox1-9,.ox2-9,.ox4-9,.ox5-9,.ox7-9,.ox8-9,.ox1-10,.ox3-10,.ox7-10,.ox9-10{ display:inline-block;*display:inline;zoom:1; margin:1%;margin:calc(5px); }
.ox1-1{ width:98%;width:calc(100% - 10px); }
.ox1-2{ width:49%;width:calc(50% - 10px); }
.ox1-3{ width:32.334%;width:calc(33.334% - 10px); } .ox2-3{ width:65.667%;width:calc(66.667% - 10px); }
.ox1-4{ width:24%;width:calc(25% - 10px); } .ox3-4{ width:74%;width:calc(75% - 10px); }
.ox1-5{ width:19%;width:calc(20% - 10px); } .ox2-5{ width:39%;width:calc(40% - 10px); } .ox3-5{ width:59%;width:calc(60% - 10px); } .ox4-5{ width:79%;width:calc(80% - 10px); }
.ox1-6{ width:15.66%;width:calc(16.66% - 10px); } .ox5-6{ width:82.33%;width:calc(83.33% - 10px); }
.ox1-7{ width:13.29%;width:calc(14.29% - 10px); } .ox2-7{ width:27%;width:calc(28.57% - 10px); } .ox3-7{ width:41.86%;width:calc(42.86% - 10px); } .ox4-7{ width:56.14%;width:calc(57.14% - 10px); } .ox5-7{ width:70.43%;width:calc(71.43% - 10px); } .ox6-7{ width:84.71%;width:calc(85.71% - 10px); }
.ox1-8{ width:11.5%;width:calc(12.5% - 10px); } .ox3-8{ width:36.5%;width:calc(37.5% - 10px); } .ox5-8{ width:61.5%;width:calc(62.5% - 10px); } .ox7-8{ width:86.5%;width:calc(87.5% - 10px); }
.ox1-9{ width:10.11%;width:calc(11.11% - 10px); } .ox2-9{ width:21.22%;width:calc(22.22% - 10px); } .ox4-9{ width:43.44%;width:calc(44.44% - 10px); } .ox5-9{ width:54.55%;width:calc(55.55% - 10px); } .ox7-9{ width:76.77%;width:calc(77.77% - 10px); } .ox8-9{ width:87.88%;width:calc(88.88% - 10px); }
.ox1-10{ width:9%;width:calc(10% - 10px); } .ox3-10{ width:29%;width:calc(30% - 10px); } .ox7-10{ width:69%;width:calc(70% - 10px); } .ox9-10{ width:89%;width:calc(80% - 10px); }
/* Flex */
.flex{ display:-webkit-inline-box;display:-ms-inline-flexbox;display:-webkit-inline-flex;display:inline-flex; -webkit-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column }
.full{ position:absolute; left:0; top:0; right:0; bottom:0; }
.center{ display:-webkit-inline-flex; display:-webkit-inline-box; display:inline-flex; -webkit-box-align:center; -webkit-align-items:center; align-items:center; -webkit-box-pack:center; -webkit-justify-content:center; justify-content:center; }
.flex header{ position:relative; width:100%; -webkit-flex-shrink:0; flex-shrink:0; z-index:1; }
.flex main{ position:relative; display:block; width:100%; -webkit-box-flex:1; -ms-flex:1; -webkit-flex-grow:1; flex-grow:1; }
.flex footer{ position:relative; width:100%; -webkit-flex-shrink:0; flex-shrink:0; z-index:1; }
body.flex{ display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex; }
/* Alignment */
.xf{ text-align:left; }
.xm{ text-align:center; }
.xb{ text-align:right; }
.tf{ text-align:left; }
.tm{ text-align:center; }
.tb{ text-align:right; }
.tj{ text-align:justify; }
.yf>*{ vertical-align:top; }
.ym>*{ vertical-align:middle; }
.yb>*{ vertical-align:bottom; }

/* Device */
@media(max-width:1014px){
	.desktop{ display:none; }
	.mobile{ display:inline-block;*display:inline;zoom:1; }
}
@media(min-width:1015px){	
	.desktop{ display:inline-block;*display:inline;zoom:1; }
	.mobile{ display:none; }
}

/* Section */
.page,.prompt,.notify,.dialog{ display:none; z-index:1; overflow:hidden; }

/* Face */
.open{ display:block; }
.flex.open{ display:-webkit-inline-box;display:-ms-inline-flexbox;display:-webkit-inline-flex;display:inline-flex; -webkit-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column; }

/* Dialog */
.dialog{ position:absolute; left:20px; top:0; right:20px; bottom:0; margin:auto; width:auto; opacity:1; -webkit-transition:opacity .5s,-webkit-transform .5s;transition:opacity .5s,transform .5s; }
.dialog-top{ left:20px; top:0; right:20px; bottom:0; width:100%; }
.dialog-right{ left:auto; top:0; right:0; bottom:0; width:calc(100% - 40px); }
.dialog-bottom{ left:20px; top:0; right:20px; bottom:0; width:100%; }
.dialog-left{ left:0; top:0; right:auto; bottom:0; width:calc(100% - 40px); }

/* Prompt */
.prompt{ position:absolute; top:50%; width:100%; left:0; max-height:100%; z-index:1; -webkit-transition:opacity .25s,-webkit-transform .25s;transition:opacity .25s,transform .25s; }

/* Page */
.page{ position:absolute; left:0; top:0; bottom:0; right:0; -webkit-transition:-webkit-transform .5s,opacity .5s;transition:transform .5s,opacity .5s; }

/* Notifies */
.notify{ position:absolute; left:0; bottom:0; right:0; -webkit-transition:-webkit-transform .5s,opacity .5s;transition:transform .5s,opacity .5s; }

/* Curtain */
.curtain{ position:absolute; left:0; top:0; right:0; bottom:0; text-align:center; -webkit-transition:opacity .5s;transition:opacity .5s; background-color:#000; opacity:.75; z-index:1; background-color:#666\9;/* IE8 */ }

/* Load */
.load-cover{ position:absolute; left:0; top:0; right:0; bottom:0; text-align:center; -webkit-transition:opacity .5s;transition:opacity .5s; background-color:rgba(255,255,255,.75); z-index:1; }
.load-cover p{ font-size:40px; color:#333; }

/* Scroll */
.scroll{ overflow:hidden; }
.scroll-x{ overflow:hidden; white-space:nowrap; overflow-x:auto\9;/* IE8 */ }
.scroll-y{ overflow:hidden; overflow-y:auto\9;/* IE8 */ }

/* Default Modifiers */
.i{ display:inline-block;*display:inline;zoom:1; vertical-align:inherit; width:auto; }
.o{ display:inline-block;*display:inline;zoom:1; vertical-align:inherit; margin:1%;margin:calc(5px); }
.a{ display:inline-block;*display:inline;zoom:1; vertical-align:inherit; width:98%;width:calc(100% - 10px); }
.u{ display:inline-block;*display:inline;zoom:1; vertical-align:inherit; width:98%;width:calc(100% - 10px); margin:1%;margin:calc(5px); }
.c{ padding:5px; }
.cx{ padding:0 5px 0 5px; }
.cy{ padding:5px 0 5px 0; }

/* Prompt-X */
.prompt-x{ padding:30px; }

/* Notify-X */
.notify-x{ padding:10px; }
.notify-x p{ font-size:15px; }

/* Upbrowse */
.upbrowse{ position:fixed; left:0; right:0; top:50%; padding:20px 0 20px 0; z-index:2147483647; vertical-align:middle; cursor:pointer; -webkit-transition:opacity .25s;transition:opacity .25s; background-color:#FFD54F; overflow:hidden; }
.upbrowse:before{ position:absolute; left:50%; margin-left:-500px; top:-30%; font-family:FontAwesome; font-size:400px; content:'\f071'; color:#FFF; opacity:.3; }
.upbrowse>*{ position:relative; }
.upbrowse p.browser{ margin:10px; }
.upbrowse p.browser a{ text-decoration:none; font-size:12px; font-weight:bold; vertical-align:top; }
.upbrowse p.browser img{ height:60px; width:60px; }

/* Webapp */
.webapp{ position:fixed; width:100%; left:0; padding:20px 10px 20px 10px; background:#FFF; color:#333; text-align:center; z-index:2147483646; vertical-align:middle; cursor:pointer; -webkit-transition:opacity .25s;transition:opacity .25s; }
.webapp.top{ position:fixed; top:15px; }
.webapp.top:after{ bottom:100%; left:50%; border:solid transparent; content:' '; height:0; width:0; position:absolute; pointer-events:none; border-color:Transparent; border-bottom-color:#FFF; border-width:8px; margin-left:-8px; }
.webapp.bottom{ position:fixed; bottom:15px; }
.webapp.bottom:after{ top:100%; left:50%; border:solid transparent; content:' '; height:0; width:0; position:absolute; pointer-events:none; border-color:Transparent; border-top-color:#FFF; border-width:8px; margin-left:-8px; }

/* iScroll Fix */
.iScrollLoneScrollbar{ display:block; }
.iScrollLoneScrollbar .iScrollIndicator{ border-radius:0; }

/* Google Maps Fix */
.map canvas{ margin:0; }
